
.container {
    @include breakpoint {
        display: flex;
        flex-direction: row-reverse;
    }

    > * {
        box-sizing: border-box;

        @include breakpoint {
            width: 50%;
        }
    }
}

.container-portrait {
    height: 55vh;
    background-color: #eee;
    background-image: url(../img/marc-hollander-portrait-1024.jpeg);
    background-size: cover;
    background-position-x: center;

    @include breakpoint {
        height: 100vh;
    }
}

.container-content {
    padding: 0 1.5rem;
}

