
.container {
    @include breakpoint-small {
        display: flex;
        flex-direction: row-reverse;
    }

    > * {
        box-sizing: border-box;

        @include breakpoint-small {
            width: 50%;
        }
    }
}

.container-portrait {
    height: 55vh;
    background-color: #eee;
    background-image: url(../img/marc-hollander-portrait-1024.jpeg);
    background-size: cover;
    background-position-x: center;

    @include breakpoint-small {
        height: 100vh;
    }
}

.container-content {
    padding: 0 1.5rem;

    @include breakpoint-medium {
        padding: 3rem 4rem;
    }

    @include breakpoint-large {
        padding: 6rem 7rem;
    }

    @include breakpoint-extra-large {
        padding: 8rem 10rem;
    }
}

