.portrait {
    height: 55vh;
    background-color: #eee;
    background-image: url(../img/marc-hollander-portrait-1024.webp);
    background-size: cover;
    background-position-x: center;

    @include breakpoint-small {
        position: fixed;
        width: inherit;
        height: 100vh;
    }
}