.resources {
    display: flex;
    margin: 3rem 0 1.5rem;
    padding: 0;
    font-size: 0;

    > * + * {
        margin-left: 1rem;
    }

    a:focus,
    a:focus-visible {
        outline-offset: 0.5rem;
    }
}

.resource-logo {
    height: 2.75rem;
}